@model PagedListResponseModel<TicketModel>
@using HelpDesk.AppService.Application.Core.Abstractions.ExternalService.Enumerations
@using HelpDesk.AppService.Application.Core.Abstractions.ExternalService.Models
@using HelpDesk.AppService.Web.Controllers
@using HelpDesk.AppService.Web.Enumerators

@{
    ViewData["Title"] = "Dashboard - Tickets";

    string GetStatusBadge(StatusModel model) => (TicketStatuses)model?.IdStatus switch
    {
        TicketStatuses.New          => "badge bg-primary",    /* New */
        TicketStatuses.Assigned     => "badge bg-info",       /* Assigned */
        TicketStatuses.InProgress   => "badge bg-warning",    /* InProgress */
        TicketStatuses.OnHold       => "badge bg-dark",       /* OnHold */
        TicketStatuses.Completed    => "badge bg-success",    /* Completed */
        TicketStatuses.Cancelled    => "badge bg-danger",     /* Cancelled */
        _ => "badge bg-primary"
    };

    bool CanViewAction(TicketModel model, ActionType actionType)
    {


        return true;  
    };
}

@* ************** Content ************** *@
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Dashboard /</span> Tickets
</h4>

<!-- Actions -->
<div class="row mb-3">
    <div class="col-12 d-flex justify-content-md-end">
        <a class="btn btn-primary hd-action-button" href="javascript:void(0);" data-ticket-id="0" data-action-type="@((byte)ActionType.Create)"> Create Ticket</a>
    </div>
</div>
<!--/ Actions -->

<!-- Tickets Table -->
<div class="card">
    <h5 class="card-header">Tickets List</h5>     
    <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Requested by</th>
                    <th>Assigned by</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @if (Model?.Items?.Any() ?? false)
                {
                    @foreach (var ticket in Model.Items)
                    {
                        <tr>
                            <td>@ticket.IdTicket</td>
                            <td>@ticket.Description</td>
                            <td>@ticket.Category?.Name</td>
                            <td><span class="@GetStatusBadge(ticket.Status)">@ticket.Status?.Name</span></td>
                            <td>@ticket.IdUserRequester</td>
                            <td>@ticket.IdUserAssigned</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item hd-action-button" href="javascript:void(0);" data-ticket-id="@ticket.IdTicket" data-action-type="@((byte)ActionType.Edit)"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                        <hr class="dropdown-divider" />                                        
                                        <a class="dropdown-item hd-action-button" href="javascript:void(0);" data-ticket-id="@ticket.IdTicket" data-action-type="@((byte)ActionType.AssignTo)"><i class="bx bx-user-plus me-1"></i> Assign to ...</a>                                        
                                        <a class="dropdown-item hd-action-button" href="javascript:void(0);" data-ticket-id="@ticket.IdTicket" data-action-type="@((byte)ActionType.AssignToMe)"><i class="bx bx-user-check me-1"></i> Assign to Me</a>
                                        <hr class="dropdown-divider" />
                                        <a class="dropdown-item hd-action-button" href="javascript:void(0);" data-ticket-id="@ticket.IdTicket" data-action-type="@((byte)ActionType.ChangeStatusTo)"><i class="bx bx-refresh me-1"></i> Status to ...</a>
                                        <a class="dropdown-item hd-action-button" href="javascript:void(0);" data-ticket-id="@ticket.IdTicket" data-action-type="@((byte)ActionType.ChangeStatusToComplete)"><i class="bx bx-check-shield me-1"></i> Status to Complete</a>
                                        <hr class="dropdown-divider" />
                                        <a class="dropdown-item hd-action-button" href="javascript:void(0);" data-ticket-id="@ticket.IdTicket" data-action-type="@((byte)ActionType.Cancellation)"><i class="bx bx-trash me-1"></i> Cancel</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <!-- Model Actions -->
    <div class="modal fade" id="modalActions" data-bs-backdrop="static" tabindex="-1" aria-hidden="true"></div>
    <!--/ Model Actions -->
</div>
<!--/ Tickets Table -->

<!-- Toast with Placements -->
<div class="bs-toast toast toast-placement-ex m-2 top-0 end-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
    <div class="toast-header">
        <i class="bx bx-bell me-2"></i>
        <div class="me-auto fw-medium toast-title"></div>
        <small>now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body"></div>
</div>
<!--/ Toast with Placements -->

@section PageScripts {
    @await Html.PartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml")
}
